body{
  font-family: sans-serif;
  background-image: url("../images/grey_back.jpg");
  font-size: 140%;
  margin: 4%;
}
header{
  background-image: url("../images/ocean.jpg");
  text-align: center;
  padding: 15px;
}
h1{
  color: #FFFFFF;
  font-family: Helvetica;
}
nav a{
  font-variant: small-caps;
  font-size: 140%;
  display: inline-block;
  font-weight: bold;
  color: #FFFFFF;
  background: #B3B3B3;
  text-align: center;
  padding: 4px;
  text-decoration: none;
}
a:hover{
  color: #B3B3B3;
  background: #35B6DF;
}
a:focus{
  color: #B3B3B3;
  background: #35B6DF;
}
a:active{
  border: 3px solid #000000;
}
h2{
  color: #666666;
  background: #00B7EA;
  font-family: Helvetica;
}
section{
  display: inline-block;
  float:left;
  margin-right: 2%;
}
details p{
  font-style: italic;
}
ul{
  list-style-type: square;
}
footer{
  background-image: url("../images/ocean.jpg");
  clear: both;
  padding: 15px;
}
/*header, footer{
  background: #666666;
  background: -moz-linear-gradient(#666666 0%,#00B7EA 100%);
  background: -webkit-linear-gradient(#666666 0%,#00B7EA 100%);
  background: -o-linear-gradient(#666666 0%,#00B7EA 100%);
  background: linear-gradient(#666666 0%,#00B7EA 100%);
}*/
div a i{
  color: #FFFFFF;
  padding: 5px;
}
.social{
  margin-top: 15px;
  text-align: center;
}
.half{
  width: 45%;
}
.whole{
  clear: both;
}
footer img{
  width: 75px;
}
