body{
  font-family: sans-serif;
  background-image: url("../images/grey_back.jpg");
  font-size: 140%;
  margin: 4%;
}
header{
  background-image: url("../images/ocean.jpg");
  text-align: center;
  padding: 15px;
  border-radius: 20px;
}
h1{
  color: #FFFFFF;
  font-family: Helvetica;
}
h1:hover{
  font-size: 250%;
  transition-duration: 0.5s;
}
nav a{
  font-variant: small-caps;
  font-size: 140%;
  display: inline-block;
  font-weight: bold;
  color: #FFFFFF;
  background: #B3B3B3;
  text-align: center;
  padding: 4px;
  text-decoration: none;
}
a:hover{
  color: #B3B3B3;
  background: #35B6DF;
  transform: rotateZ(360deg);
  transition-duration: 1s;
  transition-delay: 0.25s;
}
a:focus{
  color: #B3B3B3;
  background: #35B6DF;
}
a:active{
  border: 3px solid #000000;
}
h2{
  color: #FFFFFF;
  background: #5F71AE;
  font-family: Helvetica;
}
section{
  display: inline-block;
  float:left;
  margin-right: 2%;
}
details p{
  font-style: italic;
}
ul{
  list-style-type: square;
}
footer{
  background-image: url("../images/ocean.jpg");
  clear: both;
  padding: 15px;
  border-radius: 20px;
}
div a i{
  color: #FFFFFF;
  padding: 5px;
}
.social{
  margin-top: 15px;
  text-align: center;
}
.half{
  width: 45%;
}
.whole{
  clear: both;
  padding: 5px;
}
footer img{
  width: 75px;
}
